.dimensionsContent {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.dimensionsTop {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.dimensionsTop > h3 {
    font-size: 30px;
}

.dimensionsTop > p {
    color: #e1e1e1;
}

.dimensionsBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dimensionsBottom > h3 {
    font-weight: 500;
    width: 220px;
    text-align: center;
}