.cardListTitle {
    font-size: 36px;
}

.cardList {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cardListContainer {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, 0.139rem + 2.31vw, 1.875rem);
    flex-wrap: wrap;
}

