.header {
    background-color: #F4F1DE;
    margin-bottom: 20px;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #242424;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.headerLink > a {
    color: #242424;
    font-size: 20px;
    transition: opacity 0.3s ease;
}

.headerLink > a:hover {
    opacity: 0.7;
}