:root {
  font-family: Poppins, sans-serif;

  color-scheme: light dark;
  background-color: #242424;
}

p, h1, h2, h3 {
  margin: 0;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}
a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

input {
  border: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  color: #c4c4c4;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #797979;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.card {
  display: flex;
  border-radius: 15px;
  background-color: #2f2f2f;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn {
  border-radius: 8px;
  border: none;
  padding: 10px 0;
  background-color: #8badf8;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}